body {
    margin: 0;
  }
  
  .container {
    display: flex;
    min-height: 100vh;
  }
  
  
  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #fff1db;
    width: 200px;
    border-radius: 10px;
  }
  
  .logo-ape {
    display: flex;
    align-items: center;
    margin-right: 10px;
    height: 30px;
  }
  
  .logo-ape img {
    margin-right: 10px;
    width: 40px;
  }
  
  .menu {
    list-style-type: none;
    margin: 20px;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 15px;
  }
  
  .menu button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7e36d;
    color: #8f1800;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20%;
    height: 95px;
    width: 190px;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    box-sizing: border-box;
  }

  .content {
    margin-top: -45%;
    margin-left: 200px;
    padding: 20px;
  }
  
  .title {
    color: #8f1800;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
  }
  
  .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .box {
    margin-bottom: 5px;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    border-radius: 20%;
    overflow: hidden;
    background-color: #fff1db;
  }
  
  .honey-image {
    max-width: 100%;
    height: auto;
  }
  
  .product-description {
    text-align: center;
    margin-top: 10px;
  }
  
  .box-bottom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    color: #8f1800;
    text-align: center;
    width: 100%;
  }
  
  .product-title {
    margin-bottom: -13px;
    margin-left: 25px;
    width: 50%;
  }
  
  .product-info {
    margin-left: 22px;
  }
  
  .price {
    margin-top: -58px;
    margin-left: 70%;
    margin-bottom: 8px;
  }
  
  .add-to-cart-button {
    display: inline-block;
    margin-top: 41px;
    margin-bottom: 14px;
    margin-left: 30%;
    background-color: #f7e36d;
    color: #8f1800;
    border: none;
    border-radius: 91px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .latest-news {
    background-color: #fff1db;
    margin-top: 50px;
    padding: 20px;
    border-radius: 20px;
  }
  
  .news-title {
    color: #8f1800;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: -35px;
    font-weight: bold;
  }
  
  .news-box {
    margin-top: 20px;
  }
  
  .news-subtitle {
    color: #8f1800;
    font-size: 24px;
    font-weight: bold;
  }
  
  .news-text {
    margin-top: 10px;
    font-size: 18px;
    font-style: normal;
  }
  
  .honey-image-large {
    width: 100%;
    margin-top: 20px;
  }

  @media screen and (max-width: 576px) {
    .container {
      display: flex;
      min-height: 64vh;
  }
  
    .sidebar {
      position: static;
      width: 100%;
      border-radius: 0;
    }
  
    .content {
      margin-top: 0;
      margin-left: 0;
      padding: 20px 10px;
    }
  
    .box {
      width: 100%;
    }
  
    .title {
      font-size: 36px;
      margin-bottom: 30px;
    }
  
    .menu button {
      height: 75px;
      font-size: 14px;
    }
  
    .product-title {
      margin-bottom: 0;
      margin-left: -92px;
      width: 100%;
      font-size: 18px;
  }
  
  .product-info {
    margin-left: 130px;
    font-size: 14px;
}
    .price {
      margin-top: -40px;
      margin-left: 60%;
      margin-bottom: 5px;
    }
  
    .add-to-cart-button {
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 42%;
      font-size: 14px;
  }
  
    .news-title {
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: -25px;
    }
  
    .news-subtitle {
      font-size: 20px;
    }
  
    .news-text {
      font-size: 16px;
    }
  
    .honey-image-large {
      margin-top: 10px;
    }
  }



  @media (min-width: 576px) and (max-width: 768px) {
      .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: auto;
        width: 100%;
      }
    
      .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
      }
    
      .menu-button {
        width: auto;
        height: auto;
        border-radius: 10%;
        padding: 10px;
        font-size: 14px;
      }
    
      .menu-button:first-child {
        margin-right: auto;
      }
    
      .menu-button:last-child {
        margin-left: auto;
      }
    
      .content {
        margin-top: -105%;
        margin-left: 0;
        padding: 20px;
      }

      .honey-image {
        max-width: 100%;
        height: 135px;
    }

      .product-title {
        margin-bottom: -13px;
        margin-left: 30px;
        width: 50%;
      }

      .product-info {
        margin-left: 6px;
      }

      .price {
        margin-top: -3px;
        margin-left: 35%;
        margin-bottom: -25px;
    }

    .add-to-cart-button {
      display: inline-block;
      margin-top: 41px;
      margin-bottom: 20px;
      margin-left: 1%;
      background-color: #f7e36d;
      color: #8f1800;
      border: none;
      border-radius: 91px;
      padding: 5px 10px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
  }
    }